venv/
env/
.venv/

*.pyc
__pycache__/

.ipynb_checkpoints/

*.json

shiny-app/__pycache__/
shiny-app/*.log
shiny-app/.env

*.tmp
*.log
.DS_Store
Thumbs.db

!requirements.txt
!final-project.qmd
!pictures/

*.tex