venv/
env/
.venv/

*.pyc
__pycache__/

.ipynb_checkpoints/

data/raw/
*.csv
*.json
*.geojson

shiny-app/__pycache__/
shiny-app/*.log
shiny-app/.env

*.tmp
*.log
.DS_Store
Thumbs.db

!requirements.txt
!final-project.qmd
!pictures/
!data/processed/